body{
	background-color:#ffffff;
}

/*Navbar content display*/
.navbar{
	display:grid;
	grid-template-columns: 40% 20% 20% 20%;
	grid-template-rows: 50px 15px 10px;
	overflow:hidden;
}
.navbar > a{
	background:#ffffff;
	color:#444;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:20px;
	text-decoration:none;
	text-align:center;
	place-self:center;
}
.navbar > a:hover{
	background-color:#ffffff;
	color:#76d59f;
	text-decoration:none;
}
.Run_analysis{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.Documentation{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.Contact{
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}
.OpenVar_logo{
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	display:grid;
	grid-template-columns: 5% 90% 5%;
}
.OpenVar_logo > img{
	grid-column: 2 / 3;
	max-width:60%;
	max-height:60%;
	object-fit:contain;
	place-self:center;
}

/*Documentation display*/
.doc__grid{
	display:grid;
	grid-template-columns: 5% 1fr 5%;
	grid-template-rows: 15px auto auto auto 15px;
	grid-gap: 15px;
}
.doc__header{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#e1f9f3;
}
.faq__principles{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#fdfddb;
	padding: 10px 10px;
	grid-gap: 5px;
	display:grid;
	grid-auto-rows: auto;
}
.faq__principles > h1{
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
.faq_openvar{
	display:grid;
	grid-auto-rows: auto;
}
.faq__website{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#fdfddb;
	padding: 10px 10px;
	grid-gap: 5px;
	display:grid;
	grid-auto-rows: auto;
}
.faq__website > h1{
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
.faq_website{
	display:grid;
	grid-auto-rows: auto;
}

.answer{
	display: hide;
	background-color:#ffbb33;
}
.reveal_hide:hover{
	cursor: pointer;
	background-color:#ffbb33;
}

/*Footer display*/
.footer{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	background-color:#ddd;
	grid-gap:10px;
}
.footer > div{
	text-align:center;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	place-self:center;
}
.footer > div:last-child{
	grid-column: 1 / span 3;
	color:#ffffff;
}
.Sponsors{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow:hidden;
	place-self:center;
}
.Sponsors > img{
	max-height:100%;
	max-width:60%;
	object-fit:contain;
	place-self:center;
}
.Sponsors > img:nth-child(3){
	max-width:30%;
}
