body{
	background-color:#ffffff;
	font-family: Helvetica, Arial, sans-serif;
}

/*Navbar content display*/
.navbar{
        display:grid;
        grid-template-columns: 40% 20% 20% 20%;
        grid-template-rows: 50px 15px 10px;
        overflow: hidden;
}
.navbar > a{
        background:#ffffff;
        color:#444;
        font-family: Helvetica, Arial, sans-serif;
        font-weight:bold;
        font-size:20px;
        text-decoration:none;
        text-align:center;
        place-self:center;
}
.navbar > a:hover{
        background-color:#ffffff;
        color:#76d59f;
        text-decoration:none;
}
.Run_analysis{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
}
.Documentation{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
}
.Contact{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
}
.OpenVar_logo{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        display:grid;
        grid-template-columns: 5% 90% 5%;
}
.OpenVar_logo > img{
        grid-column: 2 / 3;
        max-width:60%;
        max-height:60%;
        object-fit:contain;
        place-self:center;
}

/*Results grid*/
.results__grid{
	display:grid;
	grid-template-columns: 5% 1fr 1fr 5%;
	grid-template-rows: 15px auto auto auto auto auto auto 15px;
	grid-gap: 15px;
}
.results__header{
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#e1f9f3;
	display:grid;
	grid-template-rows: auto auto
}
.results__header > h1{
	grid-row: 1 / 2;
	font-size:28px;
	color: #090494;
	font-weight:bold;
	text-align:center;
}
.results__header > h1[id="header__study_name"]{
	grid-row: 2 / 3;
	font-size: 24px;
}
.error__grid{
	grid-row: 3 / 4;
	grid-column: 2 / 4;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#ffe6e6;
	display:none;
	grid-template-rows: auto auto;
	grid-gap:10px;
	padding: 20px 20px;
	overflow:hidden;
}
.no_results__message{
	grid-row: 1 / 2;
	text-align:center;
	font-size: 16px;
	color:red;
}
.error__grid > video{
	grid-row: 2 / 3;
	place-self:center;
}
.error__grid > img{
	grid-row: 2 / 3;
	place-self:center;
	max-height:50%;
	max-width:50%;
}
.results__downloads{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#fdfddb;
	padding: 10px 10px;
	grid-gap: 5px;
	display:none;
	grid-template-rows: auto auto auto auto;
}
.results__downloads > h1{
	grid-row: 1 / 2;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
#dwnld__all{
	grid-row: 2 / 3;
	font-size:16px;
	padding: 5px 10px;
	background-color:#ffdd99;
	color: #444;
	border: 2px solid #444;
	border-radius: 8px;
	text-align:center;
	place-self:center;
	text-decoration:none;
}
#dwnld__all:hover{
	cursor:pointer;
	background-color:#ffbb33;
}
#dwnld__annvcf{
	grid-row: 3 / 4;
	font-size:16px;
	padding:5px 10px;
	background-color:#ffdd99;
	color: #444;
	border: 2px solid #444;
	border-radius: 8px;
	text-align:center;
	place-self:center;
	text-decoration:none;
}
#dwnld__annvcf:hover{
	cursor:pointer;
	background-color:#ffbb33;
}
#dwnld__tsv{
	grid-row: 4 / 5;
	font-size:16px;
	padding:5px 10px;
	background-color:#ffdd99;
	color: #444;
	border: 2px solid #444;
	border-radius: 8px;
	place-self:center;
	text-align:center;
	text-decoration:none;
}
#dwnld__tsv:hover{
	cursor:pointer;
	background-color:#ffbb33;
}

.results__stats{
	grid-column: 3 / 4;
	grid-row: 4 / 5;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#fdfddb;
	padding: 10px 10px;
	grid-gap: 5px;
	display:none;
	grid-template-rows: auto auto;
}
.results__stats > h1 {
	grid-row: 1 / 2;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
.results__stats > table{
	grid-row: 2 / 3;
	width: 70%;
	place-self:center;
	text-align:left;
	font-size: 16px;
	padding: 5px;
}
.results__stats > table > tbody > tr:hover{
	background-color:#ffbb33;
}
.results__chr{
	grid-row: 5 / 6;
	grid-column: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#fdfddb;
	padding: 10px 10px;
	grid-gap: 5px;
	display:none;
	grid-template-rows: auto auto;
	grid-template-columns: 45% 55%;
	overflow:auto;
}
.results__chr > h1{
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color: #ffaa00;
}
.results__chr > table{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	width: 80%;
	place-self:center;
	border: 1px solid #444;
	background-color: #ffdd99;
	text-align:center;
	font-size: 16px;
	padding: 5px;
}
.results__chr > table > thead{
	font-weight: bold;
}
.results__chr > table > tbody > tr:hover{
	background-color:#ffbb33;
}
.results__chr > table > tbody > tr > td:first-child{
	font-weight:bold;
}
.results__chr > canvas{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	position:relative;
	place-self: center;
	width:100%;
	height:100%;
}
.results__gene{
	grid-row: 5 / 6;
	grid-column: 3 / 4;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
        background-color:#fdfddb;
        padding: 10px 10px;
        grid-gap: 5px;
        display:none;
        grid-template-rows: auto auto auto auto;
	overflow:auto;
}
.results__gene > h1{
	grid-row: 1 / 2;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
.results__gene > table{
	grid-row: 2 / 3;
	width: 80%;
	place-self:center;
	border: 1px solid #444;
	background-color: #ffdd99;
	text-align:center;
	font-size: 16px;
	padding: 5px;
}
.results__gene > table > thead{
	font-weight: bold;
}
.results__gene > table > tbody > tr:hover{
	background-color:#ffbb33;
}
.results__gene > table > tbody > tr > td:first-child{
	font-style: italic;
}
.toggle_btn__genes{
	grid-row: 3 / 4;
	display:grid;
	grid-template-columns: 60% 20% 20%;
}
.toggle_btn__genes > button{
	grid-row: 1 / 2;
	grid-column: 3 / 4;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color:#0000ff;
	place-self:center;
	text-align: right;
	background-color:#fdfddb;
	border:none;
}
.toggle_btn__genes > button:hover{
	cursor:pointer;
}
.toggle_btn__genes > a{
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color:#0000ff;
	place-self:center;
	text-align: right;
	text-decoration: none;
}
.charts__gene{
	grid-row: 4 / 5;
	place-self:center;
	position: relative;
	width:100%;
	height:100%;
}
.results__protein{
	grid-row: 6 / 7;
        grid-column: 2 / 4;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
        background-color:#fdfddb;
        padding: 10px 10px;
        grid-gap: 15px;
        display:none;
        grid-template-rows: auto auto auto auto;
	grid-template-columns: 1fr 1fr;
	overflow:auto;
}
.results__protein > h1{
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
.results__protein > table[id='results_prot_stats']{
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	width: 50%;
	place-self: center;
	text-align: left;
	font-size: 16px;
	padding: 5px;
}
.results__protein > table[id='results_prot_stats'] > tbody > tr:hover{
	background-color:#ffbb33;
}
.results__protein > table[id='results_altFC']{
	grid-row: 3 / 4;
	grid-column: 1 / 3;
	width: 80%;
	place-self: center;
	border: 1px solid #444;
	background-color: #ffdd99;
	text-align: center;
	font-size: 16px;
	padding: 5px;
}
.results__protein > table[id='results_altFC'] > thead{
	font-weight: bold;
}
.results__protein > table[id='results_altFC'] > tbody > tr > td:first-child{
	font-weight: bold;
}
.results__protein > table[id='results_altFC'] > tbody > tr:hover{
	background-color:#ffbb33;
}
.charts__protFC{
	grid-row: 4 / 5;
	grid-column: 1 / 2;
	place-self:center;
	position:relative;
	width:100%;
	height:100%;
}
.charts__impact{
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	place-self: center;
	position:relative;
	width:100%;
	height:100%;
}
.results__altHotSpot{
	grid-row: 7 / 8;
        grid-column: 2 / 4;
        box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
        background-color:#fdfddb;
        padding: 10px 10px;
        grid-gap: 5px;
        display:none;
        grid-template-rows: auto auto auto auto;
	overflow-x:auto;
}
.results__altHotSpot > h1{
	grid-row: 1 / 2;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	color:#ffaa00;
}
.responsive_table{
	grid-row: 2 / 3;
	overflow-x:auto;
}
.responsive_table > table{
	border: 1px solid #444;
	background-color: #ffdd99;
	place-self:center;
	text-align:center;
	font-size:16px;
	padding:5px;
}
.responsive_table > table > thead{
	font-weight: bold;
}
.responsive_table > table > thead > tr > th > a{
	text-decoration: none;
	color:#033aa1;
}
.responsive_table > table > thead > tr >th > a:hover{
	color:#76d59f;
}
.responsive_table > table > tbody > tr:hover{
	background-color:#ffbb33;
}
.responsive_table > table > tbody > tr > td:first-child{
	font-style:italic;
}
.responsive_table > table > tbody > tr > td:last-child{
	text-align:left;
}
.toggle_btn__hotspots{
	grid-row: 3 / 4;
	display:grid;
	grid-template-columns: 60% 20% 20%;
}
.toggle_btn__hotspots > button{
        grid-column: 3 / 4;
	grid-row: 1 / 2;
	font-family:Helvetica, Arial, sans-serif;
        font-size: 13px;
        color:#0000ff;
        text-align: center;
        background-color:#fdfddb;
        border:none;
}
.toggle_btn__hotspots > a{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 13px;
	color:#0000ff;
	text-decoration:none;
	text-align: center;
}
.results__altHotSpot > button:hover{
        cursor:pointer;
}
.charts__hotspot{
	grid-row: 4 / 5;
	place-self: center;
	position:relative;
	height: 100%;
	width: 100%;
}

/*Footer display*/
.footer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        background-color:#ddd;
        grid-gap:10px;
}
.footer > div{
        text-align:center;
        font-family:Helvetica, Arial, sans-serif;
        font-size:14px;
        place-self:center;
}
.footer > div:last-child{
        grid-column: 1 / span 3;
        color:#ffffff;
}
.Sponsors{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow:hidden;
        place-self:center;
}
.Sponsors > img{
        max-height:100%;
        max-width:60%;
        object-fit:contain;
        place-self:center;
}
.Sponsors > img:nth-child(3){
        max-width:30%;
}
