html {
	font-size: 17px;
	font-family: Helvetica, sans-serif, Arial;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color:#fff;
	color:#00f;
	font-family: Helvetica, sans-serif, Arial;
}

.container {
	display:flex;
	justify-content:space-between;
	align-items:center;
}


.form__fieldset {
	padding: 40px 20px;
}

.form__fieldset:not(::last-of-type) {
	boder-bottom: 1px solid rgba(0,0,0,0.1);
}

.form__input {
	font-size: 1rem;
}

.form__select {
	padding: 4px 2px;
}

.form__label {
	margin-right: 20px;
}

.form__submit {
	padding: 8px 16px;
	background-color: #3c8cf1;
	color: white;
	border: 2px solid #1c2023;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.form__submit:hover {
	background-color: white;
	color: #312b2a
}

#logo{
	border:3px solid;
	padding:0 10px;
}
#navbar li{
	display:inline-block;
}
#navbar a{
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}
