@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	background-color: #FFFFFF;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

*,*::before, *::after {
	box-sizing: inherit;
}

*, a {
	color: #312b2a;
}

a {
	position: relative;
	text-decoration: none;

	&::before {
		content: "";
		position: absolute;          
		height: 3px;
		right: 0px;
		bottom: -3px;
		left: 0px;
		background-color: #3c8cf1;
	}
											        
	&:hover {
		color: #3c8cf1;

		&::before {
			background: linear-gradient(to right, #23d59c 50%, #3c8cf1 50%);
		}
	}
}


nav {
	margin-bottom: 4rem;
	padding: 10px;
	font-size: 1.5rem;

	@media (min-width: 600px){
		padding: 20px;
	}
	
        ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;      
	}
	
	a {
		font-size: 1.25rem;
																			            
		@media (min-width: 42em){
			font-size: 2rem;
		}
	}
}

nav.grid {
	
	ul {
		display: grid;
		grid-template-columns: repeat(3, 100px);
		grid-gap: 10px;
		justify-content: center;
		justify-items: center;

		@media (min-width: 600px){
			grid-template-columns: 1fr repeat(3, fit-content(50px));
			grid-gap: 20px;
			justify-items: end;
		}
	}

	.fullwidth {
		grid-column: 1 / 4;

		@media (min-width: 600px){
			grid-column: 1 / 2;
			justify-self: start;
		}
	}
}

form.container {
	display:flex;
	justify-content:space-between;
	align-items:center;
}


form.form__fieldset {
	padding: 40px 20px;
}

form.form__fieldset:not(::last-of-type) {
	boder-bottom: 1px solid #23d59c;
}

form.form__input {
	font-size: 1rem;
}

form.form__select {
	padding: 4px 2px;
}

form.form__label {
	margin-right: 20px;
}

form.form__submit {
	padding: 8px 16px;
	background-color: #3c8cf1;
	color: white;
	border: 2px solid #1c2023;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

form.form__submit:hover {
	background-color: white;
	color: #312b2a
}

