body{
	background-color:#ffffff;
}

/*Navbar content display*/
.navbar{
	display:grid;
	grid-template-columns: 40% 20% 20% 20%;
	grid-template-rows: 50px 15px 10px;
	overflow: hidden;
}
.navbar > a{
	background:#ffffff;
	color:#444;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:20px;
	text-decoration:none;
	text-align:center;
	place-self:center;
}
.navbar > a:hover{
	background-color:#ffffff;
	color:#76d59f;
	text-decoration:none;
}
.Run_analysis{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.Documentation{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.Contact{
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}
.OpenVar_logo{
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	display:grid;
	grid-template-columns: 5% 90% 5%;
}
.OpenVar_logo > img{
	grid-column: 2 / 3;
	max-width:60%;
	max-height:60%;
	object-fit:contain;
	place-self:center;
}

/*Submission form*/
.submit_grid{
	display:grid;
	grid-template-columns: 5% 1fr 5%;
	grid-template-rows: auto auto auto auto auto auto 15px;
	grid-gap:20px;
	font-family:Helvetica, Arial, sans-serif;
	background-color:#ffffff;
	color:#444;
}
.submit_grid > h1{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding: 50px 0;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#e1f9f3;
}
.form__user{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-gap: 20px;
}
.form__info{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 30px 30px;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#e1f9f3;
	margin: 0 0 0;
}
.form__email{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	padding: 20px 20px;
	background-color:#fdfddb;
	display:grid;
	grid-template-rows:auto auto auto;
	grid-gap: 10px;
}
.form__email > label{
	grid-row: 1 / 2;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.form__email > input{
	grid-row: 2 / 3;
}
.form__email > div{
	grid-row: 3 / 4;
	font-size:14px;
	font-weight:bold;
	color:red;
}
.form__studyname{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	padding: 20px 20px;
	background-color:#fdfddb;
	display:grid;
	grid-template-rows: auto auto auto;
	grid-gap: 10px;
}
.form__studyname > label{
	grid-row: 1 / 2;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.form__studyname > input{
	grid-row: 2 / 3;
}
.form__studyname > div{
	grid-row: 3 / 4;
	font-size:14px;
	font-weight:bold;
	color:red;
}
.form__species{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	padding: 20px 20px;
	background-color:#fdfddb;
	display:grid;
	grid-template-rows:auto auto;
	grid-gap:10px;
}
.form__species > label{
	grid-row: 1 / 2;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.form__species > select{
	grid-row: 2 / 3;
}
.form__genome{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	padding: 20px 20px;
	background-color:#fdfddb;
	display:grid;
	grid-template-rows:auto auto;
	grid-gap:10px;
}
.form__genome > label{
	grid-row: 1 / 2;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.form__genome > select{
	grid-row: 2 / 3;
}
.form__build{
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	padding: 20px 20px;
	background-color:#fdfddb;
	display:grid;
	grid-template-rows:auto auto;	
	grid-gap:10px;
}
.form__build > label{
	grid-row: 1 / 2;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.form__build > select{
	grid-row: 2 / 3;
}
.form__submit__btn{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	font-size:16px;
	font-weight:bold;
	padding:10px 10px;
	background-color:#ffffff;
	color: #444;
	border: 2px solid #444;
	border-radius: 8px;
}
.form__submit__btn:hover{
	cursor:pointer;
	background-color:#e1f9f3;
	color: #033aa1;
	border: 2px solid #033aa1
}

.form__upload{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	padding: 20px 0;
	background-color: #fdfddb;
	display:grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	overflow:hidden;
}
.form__upload > label{
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.form__upload > input[name="file_upload-vcf"]{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	padding:10px;
	place-self:center end;
	background-color:#ffffff;
	color:#444;
	font-size:14px;
	border: 2px solid #ddd;
	border-radius: 8px;
	cursor:pointer;
	float:right;
}
.form__upload > input[name="upload_submit"]{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	place-self: center start;
	font-size:14px;
	font-weight:normal;
}
.form__upload > input[name="upload_submit"]:hover{
	background-color: #ffffff;
	color: #76d59f;
	border: 2px solid #033aa1;
	cursor:pointer;
}
.progress-bar{
	grid-row: 5 / 6;
	grid-column: 2 / 3;
	width: 0%;
	height: 25px;
	background-color:#76d59f;
	place-self:left;
	text-align:center;
	line-height: 27px;
	color: #444;
}
.alert__upload_success{
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#ccffcc;
	text-align:center;
	padding: 20px 20px;
	font-size: 14px;
	font-weight:bold;
	color:green;
	display:none;
}
.alert__upload_error{
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#ffe6e6;
	border: 2px solid red;
	text-align:center;
	padding: 20px 20px;
	font-size: 14px;
	font-weight:bold;
	color:red;
	display:none;
}
.alert__submit_success{
	grid-column: 2 / 3;
	grid-row: 6 / 7;
	box-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd, 5px 5px 3px #ddd;
	background-color:#e1f9f3;
	padding:20px 0;
	display:none;
	grid-template-rows:auto auto auto auto;
}
.alert__submit_success > h1{
	grid-row: 1 / 2;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.alert__submit_success > p{
	grid-row: 2 / 3;
	font-size:16px;
	text-align:center;
}
.alert__submit_success > p > a{
	color:#033aa1;
	text-decoration:none;
}

/*Footer display*/
.footer{
	display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        background-color:#ddd;
        grid-gap:10px;
}

.footer > div{
        text-align:center;
        font-family:Helvetica, Arial, sans-serif;
        font-size:14px;
        place-self:center;
}

.footer > div:last-child{
        grid-column: 1 / span 3;
        color:#ffffff;
}

.Sponsors{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow:hidden;
	place-self:center;
}

.Sponsors > img{
        max-height:100%;
        max-width:60%;
        object-fit:contain;
	place-self:center;
}

.Sponsors > img:nth-child(3){
	max-width:30%;
}

