<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>OpenVar Results - all genes stats</title>
	</head>

	<body>
		<table>
			<thead>
				<tr>
					<th>Gene</th>
					<th>Mutations / kb</th>
				</tr>
			</thead>

			<tbody>
			{% for key, value in data.items() %}
				<tr>
					<td> {{ key }} </td>
					<td> {{ value }} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</body>
</html>

