<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>OpenVar</title>
		<link rel="stylesheet" href="static/css/Home_stylesheet.css">
	</head>

	
	<body>
		{% extends "OPV_navbar.html" %}
		{% block content %}

		<div class="container">
			<div class="Intro">
				<img src="static/images/Logo.png" alt="OpenVar logo">
				<p>OpenVar is the first tool for genomic variant annotation and functional effect prediction supporting deep open reading frame (ORF) annotation and polycistronic annotation of Human, Mouse, Rat and Fruit fly transcripts. <br>OpenVar builds on the well-known and extensively used SNPEff tool (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22728672/" title="Cingolani et al, fly, 2012" target="_blank">Cingolani et al., 2012</a>), but also offers the possibility to predict variant effect in alternative ORFs as defined in <a href="https://openprot.org/" title="Go to OpenProt" target="_blank">OpenProt</a> (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5932603/" title="Brunet et al, NAR, 2019" target="_blank">Brunet et al., 2019</a>).</p>
				<a href="{{ url_for('submit') }}" title="Run Analysis">Run analysis now!</a>
			</div>
			<div class="ModAnn">
				<h1>Current annotation model</h1>
				<img id="CurrMod" src="static/images/Current_model.png" alt="Current model">
				<p>With current genome annotations, about 75% of genomic variants are deemed inconsequential (ICV). These ICV correspond to variants falling in allegedly non-coding regions, such as UTRs or ncRNAs, or yielding synonymous mutations (silent). Yet, some ICV have been strongly associated with pathologies and only about 30-40 % can be explained with hypotheses formulated under a monocistronic annotation of the human genome.</p>
			</div>
			<div class="ModOP">
				<h1>OpenProt annotation model</h1>
				<img id="OPMod" src="static/images/OpenProt_model.png" alt="OpenProt model">
				<p>By allowing annotation of multiple ORF per transcript (polycistronic annotation), OpenProt provides a more complex yet more comprehensive view of the coding potential of human genes. Early studies suggest that up to 30% of ICV could be explained by their consequence on a currently unannotated protein.</p>
			</div>
			<div class="FunFact">
				<h1>Key numbers and fun facts</h1>
				<p>38% of Mendelian phenotypes still have no known molecular basis (<a href="https://www.omim.org/statistics/geneMap" title="Go to the OMIM database" target="_blank">OMIM</a>).</p>
				<p>Up to 30% of synonymous mutations associated to cancers alter unannotated ORF (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5932603/" title="Brunet et al, Gen Res, 2018" target="_blank">Brunet et al, 2018</a>).</p>
				<p>80% of rare diseases are thought to be of genetic origin, yet only 39% have a described gene association (<a href="https://pubmed.ncbi.nlm.nih.gov/30883013/" title="Ferreira, Am J Med Genet A, 2019" target="_blank">Ferreira, 2019</a>).</p>
			</div>
			<div class="Links">
				<h1>Useful Links</h1>
				<p>Ensembl annotation (<a href="http://uswest.ensembl.org/Homo_sapiens/Info/Index?db=core" title="Go to Ensembl Homo sapiens" target="_blank">Human</a>, <a href="http://uswest.ensembl.org/Mus_musculus/Info/Index?db=core" title="Go to Ensembl Mus musculus" target="_blank">Mouse</a>, <a href="http://uswest.ensembl.org/Rattus_norvegicus/Info/Index?db=core" title="Go to Ensembl Rattus norvegicus" target="_blank">Rat</a> and <a href="http://uswest.ensembl.org/Drosophila_melanogaster/Info/Index?db=core" title="Go to Ensembl Drosophila melanogaster" target="_blank">Fruit fly</a>).</p>
				<p>NCBI RefSeq annotation (<a href="https://www.ncbi.nlm.nih.gov/refseq/" title="Go to RefSeq" target="_blank">RefSeq</a> supports multiple species, including Human, Mouse, Rat and Fruit fly).</p>
				<p>OpenProt annotation (<a href= "https://openprot.org/" title="Go to OpenProt" target="_blank">OpenProt</a> supports 10 species, including Human, Mouse, Rat and Fruit fly.</p>
			</div>
		</div>

		<div class="footer">
			<div>If you have any question, please <a href="https://openprot.org/p/ng/contactUs" title="Contact us" target="_self">contact us</a>.</div>
			<div><a href="https://twitter.com/intent/tweet?button_hashtag=OpenVar&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #OpenVar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
			<div>
				<p>OpenVar was developped by members of Pr Xavier Roucou lab:<br>Dr Marie A Brunet, Sebastien Leblanc and Noe Guilloy.</p>
			</div>
			<div class="Sponsors">
				<img src="static/images/CIHR_chair.png" alt="CIHR Research Chair">
				<img src="static/images/Sherbrooke.jpg" alt="Universite de Sherbrooke">
				<img src="static/images/CalculQuebec.png" alt="Calcul Quebec">
				<img src="static/images/CalculCanada.png" alt="Calcul Canada">
			</div>
		</div>

		{% endblock %}
	</body>


</html>



