<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OpenVar Help</title>
		<link rel="stylesheet" href="static/css/Doc_stylesheet.css" />
	</head>
	
	<body>
		{% extends "OPV_navbar.html" %}
		{% block content %}
		<h1> OpenVar Help </h1>
		<p> This will be the help of OpenVar. </p>

		<div class="footer">
			<div>If you have any question, please <a href="https://openprot.org/p/ng/contactUs" title="Contact us" target="_self">contact us</a>.</div>
			<div><a href="https://twitter.com/intent/tweet?button_hashtag=OpenVar&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #OpenVar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
			<div>
				<p>OpenVar was developped by members of Pr Xavier Roucou lab:<br>Dr Marie A Brunet, Sebastien Leblanc and Noe Guilloy.</p>
			</div>
			<div class="Sponsors">
				<img src="static/images/CIHR_chair.png" alt="CIHR Research Chair">
				<img src="static/images/Sherbrooke.jpg" alt="Universite de Sherbrooke">
				<img src="static/images/CalculQuebec.png" alt="Calcul Quebec">
				<img src="static/images/CalculCanada.png" alt="Calcul Canada">
			</div>
		</div>

		{% endblock %}
	</body>
</html>
