<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OpenVar Analysis</title>
		<link rel="stylesheet" href="static/css/Submit_stylesheet.css" />
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="static/js/mainscript.js"></script>

	</head>

	<body>

		{% extends "OPVar_navbar.html" %}
		{% block content %}

		<div class="submit_grid">
			<h1>Welcome to OpenVar!</h1>
			<form class="form__species">
				<label for="spp">Species:</label>
				<select name="spp" id="spp">
					<option value="default">Please select...</option>
					<option value="Human">Human</option>
					<option value="Mouse">Mouse</option>
					<option value="Rat">Rat</option>
					<option value="Droso">Fruit fly</option>
				</select>
			</form>

			<form class="form__genome">
				<label for="genome">Genome version used in VCF:</label>
				<select name="genome" id="HS_genome">
					<option value="default">Please select...</option>
					<option value="hg38">GRCh38 / hg38</option>
					<option value="hg19">GRCh37 / hg19</option>
				</select>
				<select name="genome" id="MM_genome">
					<option value="default">Please select...</option>
					<option value="mm39">GRCm39 / mm39</option>
					<option value="mm10">GRCm38 / mm10</option>
				</select>
				<select name="genome" id="RN_genome">
					<option value="default">Please select...</option>
					<option value="rn6">RGSC6.0 / rn6</option>
					<option value="rn5">RGSC5.0 / rn5</option>
				</select>
				<select name="genome" id="DM_genome">
					<option value="default">Please select...</option>
					<option value="dm6">BDGP R6 / dm6</option>
					<option value="dm5">BDGP R5 / dm5</option>
				</select>
			</form>

			<form class="form__build">
				<label for="build">Genome build to annotate the VCF:</label>
				<select name="annotation" id="annotation">
					<option value="default">Please select...</option>
					<option value="OPEnsembl">OpenProt (Ensembl)</option>
					<option value="OPRefseq">OpenProt (NCBI RefSeq)</option>
					<option value="Ensembl">Ensembl (only canonical sequences)</option>
					<option vlaue="Refseq">NCBI Refseq (only canonical sequences)</option>
				</select>
			</form>

			<form class="form__vcf" method="POST" enctype="multipart/form-data">
				<label for="file">Please upload a Variant Calling File (VCF) formatted as presented <a href="{{ url_for('help') }}" title="Go to documentation" target="_blank">here</a>:</label>
				<input type="file" name="filetoupload" id="filetoupload" accept=".txt, .tsv, .csv"/>
				<input type="submit" value="Upload VCF" name="Upload VCF" />
			</form>

			<input class="form__submit" type="submit" value="Run analysis" disabled />

			<div class="form__success">
				<h1>Thank you for using OpenVar!</h1>
				<p>If you use it for publication, please cite: REF OpenVar,<br>and consider citing OpenProt: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6323990/" title="Brunet et al, NAR, 2019" target="_blank">Brunet et al, 2019</a>.</p>
			</div>
		</div>

		<div class="footer">
			<div>If you have any question, please <a href="https://openprot.org/p/ng/contactUs" title="Contact us" target="_self">contact us</a>.</div>
			<div><a href="https://twitter.com/intent/tweet?button_hashtag=OpenVar&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #OpenVar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
			<div>
				<p>OpenVar was developped by members of Pr Xavier Roucou lab:<br>Dr Marie A Brunet, Sebastien Leblanc and Noe Guilloy.</p>
			</div>
			<div class="Sponsors">
				<img src="static/images/CIHR_chair.png" alt="CIHR Research Chair">
				<img src="static/images/Sherbrooke.jpg" alt="Universite de Sherbrooke">
				<img src="static/images/CalculQuebec.png" alt="Calcul Quebec">
				<img src="static/images/CalculCanada.png" alt="Calcul Canada">
			</div>
		</div>

		{% endblock %}
	</body>
</html>

